.navigation-list{
    float: right;
    background-color:#F0D2BC;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-right: 70px;
}

img{
    margin-left: 70px;
    margin-right: 40px;
}


nav li{
    display:inline-block;
    margin-left: 50px;
    margin-right: 20px;
    padding-right:20px;
    margin-top: 10px;
}
nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
}
nav a:hover{
    color: #D7855A;
}

.herolmg{
    padding: 25px 25px 25px 25px;
}

h2{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-left: 40px;
    padding: 25px 25px 25px 25px;
}
.content{
    background-color: #EEE6DD;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px
}
h1{
    padding-left: 20px;
    padding-right: 20px;
}
h3{
    font-family:'Comfortaa', cursive;
}
p{
    font-family: 'Comfortaa', cursive;
    padding-left: 20px;
    padding-right: 20px;
}

.skill{
    display: inline-block;
    height: 300px;
    width: 700;
    margin-left: 200px;
    margin-right: 200px;
}
.MySkills{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.AllProjects{
    display: flex;
    text-align: center;
    margin-left: 50px;
    margin-right: 70px;
}
.project1{
    background-color: #EEE6DD;
}

.project2{
    background-color: #EEE6DD;
}

.project3{
    background-color: #EEE6DD;
}

.project4{
    background-color: #EEE6DD;
}
button{
    font-family: 'Comfortaa', cursive;
    float: right;
    font-size: 14px;
    padding: 10px 24px;
    margin-right: 20px;
    background-color: #D7855A;
    color: white;
    border-radius: 8px;
    border: 2px solid #ffffff;
}
.footer li{
    display: inline-block;
    font-family: 'Comfortaa', cursive;
    margin-top: 50px;
}
footer{
    margin-top: 70px;
    margin-left: 450px;
}
